[class^="markdown-alert"] {
	display: flow-root;
	position: relative;
}

.markdown-alert-note {
	--accent-color: var(--blue-fg);
}

.markdown-alert-tip {
	--accent-color: var(--green-fg);
}

.markdown-alert-important {
	--accent-color: var(--purple-fg);
}

.markdown-alert-warning {
	--accent-color: var(--yellow-fg);
}

.markdown-alert-caution {
	--accent-color: var(--red-fg);
}

[class^="markdown-alert"] {
	&::before {
		margin-inline-start: 1.5rem;
		color: var(--accent-color);
		font-weight: bold;
	}

	&::after {
		position: absolute;
		mask-image: var(--icon);
		mask-size: cover;
		margin-inline-end: 0.25rem;
		inset-block-start: 0.25rem;
		inset-inline-start: 0.75rem;
		background-color: currentColor;
		width: 1rem;
		height: 1rem;
		color: var(--accent-color);
		line-height: 0;
		-webkit-mask-image: var(--icon);
		content: "";
	}

	& > :first-child {
		margin-block-start: 0.25rem;
	}

	& > :last-child {
		margin-block-end: 0;
	}
}

.markdown-alert-note {
	&::before {
		content: var(--alert-note-text);
	}

	&::after {
		--icon: var(--icon-info);
	}
}

.markdown-alert-tip {
	&::before {
		content: var(--alert-tip-text);
	}

	&::after {
		--icon: var(--icon-lightbulb);
	}
}

.markdown-alert-important {
	&::before {
		content: var(--alert-important-text);
	}

	&::after {
		--icon: var(--icon-important);
	}
}

.markdown-alert-warning {
	&::before {
		content: var(--alert-warning-text);
	}

	&::after {
		--icon: var(--icon-warning);
	}
}

.markdown-alert-caution {
	&::before {
		content: var(--alert-caution-text);
	}

	&::after {
		--icon: var(--icon-caution);
	}
}
