<style type="text/css">
	:root {
		--alert-note-text: "{{ macros_translate::translate(key='alert_note', default='Note', language_strings=language_strings) }}";
		--alert-tip-text: "{{ macros_translate::translate(key='alert_tip', default='Tip', language_strings=language_strings) }}";
		--alert-important-text: "{{ macros_translate::translate(key='alert_important', default='Important', language_strings=language_strings) }}";
		--alert-warning-text: "{{ macros_translate::translate(key='alert_warning', default='Warning', language_strings=language_strings) }}";
		--alert-caution-text: "{{ macros_translate::translate(key='alert_caution', default='Caution', language_strings=language_strings) }}";
	}
</style>
